.train-card {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.train-card:hover {
  transform: translateY(-5px);
}

.train-card.selected {
  /*background-color: #35b1ea;*/
  border-color: #35b1ea;
}

.train-card h3 {
  margin-top: 0;
  margin-bottom: 5px;
}

.train-card p {
  margin: 5px 0;
}

.train-card {
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.train-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.station {
  font-weight: bold;
  font-size: 1rem;
}

.time {
  font-size: 1rem;
}

.status {
  margin-top: 5px;
  font-weight: bolder;
}

.on-time {
  color: #27b376;
}

.late {
  color: #bf212f;
}

.early {
  color: #264b96;
}

.selected {
  background-color: #e0e0e0;
}



.Clock {
  position: absolute;
  z-index:1000;
  top: 30px;
  right: 5px;
  font-size: 7px;
}

.header {
  display: flex;
  position: fixed;
  width: 98%;
  z-index:1000;
  align-items: center;
  justify-content: space-between;
  padding:0 20px;
  background-color: #32858b;
  color: white;
}

.logo {
  width: 100px;
  height: auto;
}

.title {
  font-size: 20px;
  margin: 0;
}

