.train-card {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.train-card.selected {
  /*background-color: #35b1ea;*/
  border-color: #35b1ea;
}

.train-card h3 {
  margin-top: 0;
  margin-bottom: 5px;
}

.train-card p {
  margin: 5px 0;
}

.train-card {
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.train-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.station {
  font-weight: bold;
  font-size: 1rem;
}

.time {
  font-size: 1rem;
}

.status {
  margin-top: 5px;
  font-weight: bolder;
}

.on-time {
  color: #27b376;
}

.late {
  color: #bf212f;
}

.early {
  color: #264b96;
}

.selected {
  background-color: #e0e0e0;
}



.Refresh {
  position: absolute;
  z-index:1000;
  top: 40px;
  right: 5px;
  font-size: 7px;
  padding: 5px;
  background: rgba(105,118,124,0.4);
  border-radius:5%;
  border: 3px solid;
  border-color:#63cfd6;
  text-align: center;
  
}

.header {
  display: flex;
  position: fixed;
  top: 0px;
  right: 0px;
  width: 70.75%;
  height: 4%;
  z-index:1000;
  align-items: center;
  justify-content: space-between;
  padding:0 20px;
  background-color: rgba(103, 219, 217, 0.7);
  border: 3px solid;
  border-color:#63cfd6;
}

.logo {
  width: 100px;
  height: auto;
}

.title {
  font-size: 16px;
  margin: 0;
}

.train-info-container {
  border-radius: 10px;
}

.train-info-container h2 {
  margin-top: 0;
}

.train-info-container p {
  margin: 5px 0;
}

.arrival-info {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.arrival-info .icon {
  margin-right: 5px;
}

.status-indicator {
  display: inline-block;
  padding: 5px 10px;
  color: #fff;
  border-radius: 5px;
  margin-top: 10px;
}
.icon {
  height: 16px;
  width: 16px;
}
.icon-12 {
  height: 12px;
  width: 12px;
}
.pl-2 {
  padding-left: 8px;
}

button {
  appearance: none;
  margin: 4px;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  padding: 4px 12px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  transition: 0.3s;
}

button:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

select {
  appearance: none;
  margin: 4px;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  padding: 4px 12px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  transition: 0.3s;
}

select:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

option {
  border-radius:4px;
 
  font-size: 12px;
  font-weight: 700;
}

.primary-bg {
  background-color: #63cfd6;
}

.primary-bg:hover {
  background-color: #5bb1b7;
}
.secondary-bg {
  background-color: #656569;
}

.secondary-bg:hover {
  background-color: #414344;
}



.legend-app {
  position: absolute;
  z-index:1000;
  bottom: 70px;
  right: 5px;
  font-size: 13px;
  font-weight:bold;
  padding: 10px;
  background: rgba(105,118,124,0.4);
  border-radius:5%;
  border: 3px solid;
  border-color:#63cfd6;
  text-align: center;
  
}

.legend-key-container {
  border: 1px solid #ccc; /* Add border for visualization */
  padding: 5px; /* Add padding for spacing */
  max-width: 600px; /* Set maximum width to avoid stretching */
  
}
.legend-key {
  display: flex;
  flex-direction: column;
}

.legend-item {
  display: flex;
  align-items: center;
}
.stations-container {
  display: flex;
  flex-direction: column;
}
.station-item {
  display: flex;
  gap: 8px;
}
.station-icons {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}
.station-card {
  font-weight: bolder;
}
.station-card-times {
  font-size: 12px;
}