.train-card {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.train-card:hover {
  transform: translateY(-5px);
}

.train-card.selected {
  /*background-color: #35b1ea;*/
  border-color: #35b1ea;
}

.train-card h3 {
  margin-top: 0;
  margin-bottom: 5px;
}

.train-card p {
  margin: 5px 0;
}

.train-card {
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.train-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.station {
  font-weight: bold;
  font-size: 1rem;
}

.time {
  font-size: 1rem;
}

.status {
  margin-top: 5px;
  font-weight: bolder;
}

.on-time {
  color: #27b376;
}

.late {
  color: #bf212f;
}

.early {
  color: #264b96;
}

.selected {
  background-color: #e0e0e0;
}



.Refresh {
  position: absolute;
  z-index:1000;
  top: 40px;
  right: 5px;
  font-size: 7px;
  background: rgba(105,118,124,0.4);
  border-radius:5%;
  border: 3px solid;
  border-color:#63cfd6;
  text-align: center;
  
}

.header {
  display: flex;
  position: fixed;
  width: 98%;
  height: 4.5%;
  z-index:1000;
  align-items: center;
  justify-content: space-between;
  padding:0 20px;
  background-color: #63cfd6;
  color: white;
}

.logo {
  width: 100px;
  height: auto;
}

.title {
  font-size: 16px;
  margin: 0;
}

.train-info-container {
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.train-info-container h2 {
  margin-top: 0;
}

.train-info-container p {
  margin: 5px 0;
}

.arrival-info {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.arrival-info .icon {
  margin-right: 5px;
}

.status-indicator {
  display: inline-block;
  padding: 5px 10px;
  color: #fff;
  border-radius: 5px;
  margin-top: 10px;
}
.icon {
  height: 16px;
  width: 16px;
}
.pl-2 {
  padding-left: 8px;
}